@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400italic,700italic,400,700);

html, body {
  font:16px/1.5 "Source Sans Pro", "メイリオ", "ヒラギノ角ゴ ProN W3", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:700;
  width: 100%;
  height: 100%;
  margin: 0 0 0 0px;
  display: flex;
  flex-flow: column;
}

.black {
  background-color: #373b3e;
  width: 100%;
  flex-basis: 2em;
  flex-grow: 1.5;
  flex-shrink: 0.1;
}

.pink {
  background-color: #e12885;
  width: 100%;
  flex-basis: 2em;
  flex-grow: 1.5;
  flex-shrink: 0.1;
}

.mikublue1 {
  background-color: #137a7f;
  width: 100%;
  flex-basis: 2em;
  flex-grow: 1.5;
  flex-shrink: 0.1;
}

.mikublue2 {
  background-color: #86cecb;
  flex-basis: 2em;
  flex-grow: 1.5;
  flex-shrink: 0.1;
}

.centerdummy {
  background-color: #fffeec;
  width: 100%;
  flex-basis: 1em;
  flex-grow: 10;
  flex-shrink: 0;
}

.center {
  background-color: #fffeec;
  color: #373b3e;
  width: 100%;
  font-size: 2em;
  height: auto;
  text-align: center;
  vertical-align: middle;
}
